

@{
    ViewBag.Title = "Admin";
    Layout = "_AdminLayout";
}
<div class="content-header">
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">

            <h2>Em chào đại ca!</h2>
            <p>Chúc mừng đại ca đã đăng nhập thành công.</p>
        </div>
    </div>
</div>
</div>
